@use "variables";

body {
    margin: 0;
    background-color: variables.$bg;
    color: --text;
    font-size: 18px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.5rem;
}

ul {
    list-style-image: url(../images/little-image.png);
}